html {
  width: 100vw;
}

/* Hover enter button */

.buttonEnter {
  transition: 0.4s ease-in-out;
}

.buttonEnter:hover {
  background: rgb(0, 132, 255);
  transform: scale(1.04);
}

/* Titre principal */

.mainTitle {
  text-shadow: 0px 0px 30px #282828 !important;
}

.otherTitle {
  text-shadow: 4px 4px 20px rgb(255, 255, 255) !important;
}

.signaleBtn {
  transition: 0.4s ease-in-out;
}

.signaleBtn:hover {
  transform: scale(1.03);
  background: rgb(144, 22, 22);
}

.signaleSucces {
  transition: 0.4s ease-in-out;
}

.signaleSucces:hover {
  transform: scale(1.03);
  background: rgb(30, 95, 46);
}

#clickIcon {
  transition: 0.4s ease-in-out;
}

.transformIcon {
  transform: rotate(90deg);
}

.cardLieux {
  transition: 0.4s ease-in-out;
  perspective: 1000;
}

.cardLieux:hover {
  transform: scale(1.01) rotateX(5deg) rotateY(5deg);
}

.blockDrag {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

/* .mobileUl {
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
  top: 500px;
  pointer-events: none;
}

.mobileUl.active {
  transform: translateY(-110px);
  opacity: 1;
  pointer-events: auto;
} */
